body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  /* ==========================================
                      HEADER 
===============================================*/

.header {
    background-color: lightskyblue; /* Background color of the header */
    color: #fff; /* Text color of the header */
    padding: 20px; /* Padding around the header content */
    display: flex; /* Use flexbox layout for the header */
    justify-content: space-between; /* Align children elements with space between them */
    align-items: center; /* Center align items vertically */
  }
  .logo-container {
    display: flex; /* Use flexbox layout for logo and h1 */
    align-items: center; /* Center align items vertically */
  }
  
  .logo-container img {
    width: 50px; /* Set width of the logo image */
    height: 50px; /* Set height of the logo image */
    margin-right: 10px; /* Add margin between logo and text */
  }
  
  /* Style the navigation links */
  .header nav a {
    color: #fff; /* Text color of the nav links */
    text-decoration: none; /* Remove underline from the links */
    margin: 0 15px; /* Add margin between the links */
  }
  
  /* Change link color on hover */
  .header nav a:hover {
    color: black; /* Change text color to yellow on hover */
  }

  /* Style the header links */
  .header a {
    text-align: center;
    color: #fff; /* Text color of the header links */
    text-decoration: none; /* Remove underline from the links */
    margin: 0 15px; /* Add margin between the links */
    text-align: center;
  }

  /* Change link color on hover */
  .header a:hover {
    color: black; /* Change text color to yellow on hover */
  }






/* ====================================================
                      SEARCH A RIDE
======================================================= */

  .containerr{
    max-width: 400px;
    margin: 30px auto;
    background-color:rgb(178, 225, 243);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label,
  input,
  select {
    margin-bottom: 15px;
  }
  
  input,
  select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
