<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Successful Publish</title>
  <link rel="stylesheet" href="../static/css/successful-published.css">
  
</head>
<body>
  <div class="success-message">
    <h2>Successfully Published Ride</h2>
    <p>Your ride has been published successfully. Thank you for choosing our service!</p>
    <a href="/" class="btn">Go back to home</a>
  </div>
</body>
</html>
